.banner {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.banner__imagem {
    width: 25%;
    position: relative;
}

.banner__imagem img {
    width: 100%;
}

.banner__imagem__caption {
    align-items: center;
    background-color:  rgba(74, 74, 74, .5) ;
    bottom: 0;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-size: 2rem;
    font-weight: bolder;
    justify-content: center;
    padding: 0.5rem;
    position: absolute;
    opacity: 0;
    text-align: center;
    transition: opacity 0.5s ease;
    width: 100%;
}

.banner__imagem:hover .banner__imagem__caption {
    opacity: 1;
}

@media screen and (max-width: 1210px) {
    .banner__imagem__caption {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 950px) {
    .banner__imagem__caption {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 928px) {
    .banner__imagem {
        width: 50%;
    }

    .banner__imagem__caption {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .banner__imagem__caption {
        font-size: 1rem;
    }
}

@media screen and (max-width: 561px) {
    .banner__imagem__caption {
        height: 32px;
        padding: 0.1rem;
    }
}