.header {
    align-items: center;
    border-bottom: 1px solid #d7ccba;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem 2rem 0.1rem;
}

.header__logo {
    align-items: center;
    display: flex;
}

.header__logo__icone {
    height: 100px;
}

.header__logo__texto {
    font-family: 'Tangerine', serif;
    font-size: 4rem;
    text-shadow: 4px 4px 4px #aaa;
    white-space: nowrap;
}

.header__nav {
    display: flex;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    letter-spacing: 2px;
    margin-top: 1rem;
    text-transform: uppercase;
}

.header__item-menu {
    padding: 0 2rem;
    margin-top: 0.5rem;
}

.header__item-menu:hover {
    font-weight: bolder;
}

.header__item-menu--active {
    text-shadow: 4px 4px 4px #aaa;
}

@media screen and (max-width: 768px) {
    .header__item-menu {
        padding: 0 0.9rem;
    }
}


